Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy (with returns plugin)
  entry: python -m mypy
  language: system
  args:
  - --config-file=pyproject.toml

pyright:
  name: Pyright Type Check
  entry: pyright
  language: system

add inital value
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/state.py
  test/core/test_error.py
Due: mypy, pyright

fix tests and verify all vars assigned in cwp
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  test/builder/test_promela_builder.py
  test/core/test_error.py
  test/core/test_state.py
Due: mypy, pyright

Added typedefs to the state.g4 and rebuilt antlr files
  antlr/Expr.g4
  antlr/State.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/builder/test_promela_builder.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_expr_parser.py
  test/resources/simple_typedef/cwp.xml
  test/resources/simple_typedef/state.txt
  test/resources/simple_typedef/workflow.bpmn
Due: mypy, pyright

Squashed commits into one to make rebasing to Main easier. Also added images to typedef example
  test/resources/simple_typedef/image_cwp.png
  test/resources/simple_typedef/image_workflow.png
Due: none

Rebuilt state and expr grammar docs
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright

Converted simple_typedef example to FEEL
  test/resources/simple_typedef/workflow.bpmn
Due: none

Converted typedef functions to use bind instead of unwrap
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Fixed some bugs with the tests from rebasing
  src/bpmncwpverify/builder/promela_builder.py
  test/builder/test_promela_builder.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Adding grammar to expr, almost done, need to check if it works. Need to check if feel can set an array?
  antlr/Expr.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/core/expr.py
  test/resources/simple_typedef/state.txt
  test/resources/simple_typedef/workflow.bpmn
Due: mypy, pyright

add array parsing in cwp start edges
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  test/resources/simple_list/cwp.mmd
  test/resources/simple_list/state.txt
Due: mypy, pyright

updated tests for arrays
  test/core/frontends/test_cwpmmdparser.py
  test/core/test_expr_interface.py
Due: pyright

render mmd in html frontend instead of using node modules
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  puppeteer-config.json
  src/bpmncwpverify/web/mainPage.html
  watcher.js
Due: none

bump mmd version and add a debounce
  src/bpmncwpverify/web/mainPage.html
Due: none

render mmd in html frontend instead of using node modules (#409)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  puppeteer-config.json
  src/bpmncwpverify/web/mainPage.html
  watcher.js
Due: none

Sum the CBMC bound across pools instead of taking the max
  src/bpmncwpverify/builder/cbmc_bound.py
  test/builder/test_cbmc_bound.py
Due: mypy, pyright

Derive the real trip count for counter-driven loops
  src/bpmncwpverify/builder/cbmc_bound.py
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/builder/cbmc_trip_count.py
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/builder/test_cbmc_trip_count.py
Due: mypy, pyright

const initial values in start edge
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  test/core/test_expr_interface.py
  test/core/test_state.py
  test/resources/face2face/cwp.mmd
  test/resources/face2face/state.txt
Due: mypy, pyright

apparently I don't know how to deal with merge conflicts
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
Due: mypy, pyright

fix tests
  test/builder/test_promela_builder.py
  test/core/test_state.py
  test/resources/face2face/cwp.xml
Due: pyright

fix state str
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added typechecker for array access. not done
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
Due: mypy, pyright

Added arrays into the feel to promela visitor Test have been added for this implimentation
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

added array access to feel tree
  src/bpmncwpverify/core/feel_tree.py
Due: mypy, pyright

ruff formatting
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

update readme with docs from my recent changes
  README.md
Due: none

Moving changes from my branch to a feature branch to avoid merge conflicts (#419)
  antlr/Expr.g4
  antlr/State.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/builder/test_promela_builder.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_expr_parser.py
  test/resources/simple_typedef/cwp.xml
  test/resources/simple_typedef/image_cwp.png
  test/resources/simple_typedef/image_workflow.png
  test/resources/simple_typedef/state.txt
  test/resources/simple_typedef/workflow.bpmn
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

List (#414)
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Fixed XML tree logs in wrong location and seperated CWP parsing from state verification
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Restore missing promela generation logs
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: ^(test/|src/bpmncwpverify/antlr/|original/)
  pyright: any of: \.py$
