Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Refactor state.py to remove unwrap
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Throw Error on parsing if missing expression on edge
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

Rename no parentexpr error to just no parent
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

fixed tests
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_error.py
Due: pyright

fix the tests perhaps
  test/core/accessmethods/test_cwpmethods.py
Due: pyright

removed some more unwraps
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

remove more unwraps
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

make cwp builder order agnostic
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
  test/builder/test_cwp_builder.py
  test/core/test_error.py
Due: mypy, pyright

remove __eq__ from errors
  src/bpmncwpverify/core/error.py
  test/core/test_state.py
  test/core/test_typechecking.py
Due: mypy, pyright

Changed promela for array creations for choose Added phware feel version
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/core/test_feel_ast.py
  test/resources/phware/feel/cwp.xml
  test/resources/phware/feel/state.txt
  test/resources/phware/feel/workflow.bpmn
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Moved array entry declerations to behaviors
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Finalize FEEL to CBMC C integration with comprehensive testing
  test/builder/test_cbmc_builder.py
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
  test/visitors/test_feel_to_cbmc_visitor.py
Due: pyright

Implement FEEL to CBMC C translation
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  src/bpmncwpverify/visitors/feel_to_cbmc_visitor.py
Due: mypy, pyright

Add FEEL BPMN and CWP models for CBMC verification
  test/resources/face2face/feel/face2face_open.bpmn
  test/resources/simple_example/feel/simple_open.bpmn
  test/resources/simple_example/feel/state.txt
  test/resources/simple_example/feel/test_cwp.xml
Due: none

Adjust CBMC CLI tests to use FEEL-specific resources
  test/test_cbmc_cli.py
Due: pyright

Adjust CBMC builder and bound tests to use FEEL resources
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
Due: pyright

Feel cbmc wiring (#388)
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  src/bpmncwpverify/visitors/feel_to_cbmc_visitor.py
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/resources/face2face/feel/face2face_open.bpmn
  test/resources/simple_example/feel/simple_open.bpmn
  test/resources/simple_example/feel/state.txt
  test/resources/simple_example/feel/test_cwp.xml
  test/test_cbmc_cli.py
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
  test/visitors/test_feel_to_cbmc_visitor.py
Due: mypy, pyright

Remove __eq__ from errors (#396)
  src/bpmncwpverify/core/error.py
  test/core/test_state.py
  test/core/test_typechecking.py
Due: mypy, pyright

Enforce expressions on edges in cwp (#234) (#390)
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_error.py
Due: mypy, pyright

fixed readme to include extra steps for ANTLR (#382)
  README.md
Due: none

debug
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

fix tests
  test/builder/test_cwp_builder.py
Due: pyright

create mermaid grammar and parser
  antlr/CwpLexer.g4
  antlr/CwpParser.g4
  src/bpmncwpverify/antlr/CwpLexer.interp
  src/bpmncwpverify/antlr/CwpLexer.py
  src/bpmncwpverify/antlr/CwpLexer.tokens
  src/bpmncwpverify/antlr/CwpParser.interp
  src/bpmncwpverify/antlr/CwpParser.py
  src/bpmncwpverify/antlr/CwpParser.tokens
  src/bpmncwpverify/antlr/CwpParserListener.py
  src/bpmncwpverify/antlr/CwpParserVisitor.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/accessmethods/cwpmermaidmethods.py
  src/bpmncwpverify/core/cwp.py
  test/resources/face2face/cwp.mmd
Due: mypy, pyright

add face2face test
  test/resources/face2face/feel/cwp.mmd
Due: none

rename accessmethods to frontends
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/frontends/bpmnParser.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/frontends/processmethods.py
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/core/frontends/test_cwpxmlparser.py
  test/core/test_bpmn.py
  test/core/test_cwp.py
Due: mypy, pyright

Refactor state.py to remove unwrap (#391)
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Make cwp builder order agnostic (#395)
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
  test/builder/test_cwp_builder.py
  test/core/test_error.py
Due: mypy, pyright

update tests
  test/core/frontends/test_cwpmmdparser.py
  test/core/frontends/test_cwpxmlparser.py
Due: pyright

fix bug
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
Due: mypy, pyright

fix bugs
  test/builder/test_cbmc_builder.py
  test/core/test_cwp.py
Due: pyright

AHHHHHHHHHHHHHHHHHHHHH
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/core/test_bpmn.py
Due: pyright

fixed the bugs frfr
  test/core/frontends/test_cwpmmdparser.py
Due: pyright

made mermaid files
  test/resources/blackbox/cwp.mmd
  test/resources/boundaryevents/cwp.mmd
  test/resources/greetings/cwp.mmd
  test/resources/phware/feel/cwp.mmd
  test/resources/sar/cwp.mmd
  test/resources/simple_example/feel/cwp.mmd
  test/resources/simple_list/cwp.mmd
  test/resources/tm/cwp.mmd
Due: none

Added typedefs to the state.g4 and rebuilt antlr files
  antlr/Expr.g4
  antlr/State.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/builder/test_promela_builder.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_expr_parser.py
  test/resources/simple_typedef/cwp.xml
  test/resources/simple_typedef/state.txt
  test/resources/simple_typedef/workflow.bpmn
Due: mypy, pyright

Rebuilt state and expr grammar docs
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright
