Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Add example lambda output for the tests
  test/resources/simple_example/lambda_output.json
Due: none

Fix errors in lambda verification interface
  lambda_function.py
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Update CLI tests
  test/client_cli/test_clientcli.py
  test/test_cli.py
Due: pyright

Pass arguments to lambda by name
  lambda_function.py
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Add lambda_handler tests
  test/test_lambda_handler.py
Due: pyright

Edit Github workflow to find lambda_function.py for tests
  .github/workflows/development.yaml
  Dockerfile
Due: none

Fix errors in API Gateway event format
  lambda_function.py
  test/test_lambda_handler.py
Due: mypy, pyright

Merge Lambda CLI from clientcli.py into cli.py (#295)
  .github/workflows/development.yaml
  Dockerfile
  lambda_function.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/client_cli/clientcli.py
  src/bpmncwpverify/core/error.py
  test/client_cli/test_clientcli.py
  test/resources/simple_example/lambda_output.json
  test/test_cli.py
  test/test_lambda_handler.py
Due: mypy, pyright

Add AWS setup to README
  README.md
Due: none

Added Search and Rescue cwp
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
Due: none

Fixed grammar on SAR state.txt
  test/resources/sar/state.txt
Due: none

Combined GroundRisk and AirRisk into Risk state
  test/resources/sar/state.txt
Due: none

Fixed state file enum and variable names for SAR
  test/resources/sar/state.txt
Due: none

Updated cwp for SAR
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
Due: none

Added none to riskState in SAR
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
Due: none

Updated cwp for SAR
  test/resources/sar/cwp.png
Due: none

Created rough draft bpmn for SAR
  test/resources/sar/cwp.bpmn
Due: none

Adds color support to the devcontainer
  .devcontainer/post-create.sh
Due: none

Enhance terminal color support in devcontainer
  .devcontainer/post-create.sh
Due: none

Adds color support to the devcontainer (#299)
  .devcontainer/post-create.sh
Due: none

Simplifies Docker setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docker-compose.yml
Due: none

Clarifies Docker build instructions and file location
  docs/deployments.md
  docs/docker-build.md
Due: none

Adds .dockerignore file
  .dockerignore
Due: none

Added blackbox search folder and xml file to it
  test/resources/blackbox/cwp.xml
Due: none

Copied state from sar file and modified vars, added png of cwp
  test/resources/blackbox/cwp.png
  test/resources/blackbox/state.txt
Due: none

Copied sar bpmn to blackbox folder
  test/resources/blackbox/cwp.bpmn
Due: none

Updated logic in cwp.xml
  test/resources/blackbox/cwp.xml
Due: none

Updated state risk to uuv instead of human
  test/resources/blackbox/state.txt
Due: none

Updated cwp image
  test/resources/blackbox/cwp.png
Due: none

Updated cwp
  test/resources/blackbox/cwp.png
  test/resources/blackbox/cwp.xml
Due: none

Updated bpmn to blackbox sim
  test/resources/blackbox/cwp.bpmn
Due: none

Updated bpmn logic
  test/resources/blackbox/cwp.bpmn
Due: none

Modified bpmn logic
  test/resources/blackbox/cwp.bpmn
Due: none

issue #298 fix
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
Due: mypy, pyright

Add AWS setup to README (#297)
  README.md
Due: none

issue #298 fix (#307)
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
Due: mypy, pyright

Updateded cwp to use acceptable and non-acceptable risk as risk types
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/state.txt
Due: none

Renamed bpmn file to workflow to more easily distinguish
  test/resources/blackbox/workflow.bpmn
Due: none

Modified cwp so it has an ending state and doesn't loop over again
  test/resources/blackbox/cwp.xml
Due: none

Removed empty tags causing errors in the verifier. Runs with 1 violation caught so far
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/workflow.bpmn
Due: none
