Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Update reachability test to reflect tighter bound (BOUND=14, --unwind 15)
  test/builder/test_cbmc_builder.py
Due: pyright

Update CBMC builder tests for new visitor API and bound computation
  test/builder/test_cbmc_builder.py
Due: pyright

Add parallel gateway, intermediate event, and behavior translation to CBMC visitor
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Revert has_explicit_name change, restore strict element name validation
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
Due: mypy, pyright

Allow BPMN elements without explicit name attributes to pass validation
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
Due: mypy, pyright

Remove unused assert.h include from generated C header
  src/bpmncwpverify/builder/cbmc_builder.py
Due: mypy, pyright

Added EventBasedGateway to structure
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmn_graph_visitor.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidations.py
Due: mypy, pyright

inorder to rebase
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Started changes for promela
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Remove hardcoded environment-specific Python site-packages path from pyrightconfig.json
  pyrightconfig.json
Due: none

Expand CBMC visitor with parallel gateway, intermediate event, and multi-form behavior translation (#358)
  pyrightconfig.json
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Replace bound heuristic with longest-path algorithm (#355)
  pyrightconfig.json
  src/bpmncwpverify/builder/cbmc_bound.py
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Added third lane, added unique names to each box, updated images, added another var to state to help differentiate states
  test/resources/blackbox/cwp.png
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/state.txt
  test/resources/blackbox/workflow.bpmn
  test/resources/blackbox/workflow.svg
Due: none

Ensured all events, gates, and activities had names
  test/resources/blackbox/workflow.bpmn
  test/resources/blackbox/workflow.svg
Due: none

Updated Black Box Example (#357)
  test/resources/blackbox/cwp.png
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/state.txt
  test/resources/blackbox/workflow.bpmn
  test/resources/blackbox/workflow.svg
Due: none

Added missed file to commit
  test/visitors/test_bpmn_promela_visitor.py
Due: pyright

Removed comment
  src/bpmncwpverify/util/stringmanager.py
Due: mypy, pyright

Moved context to be attribute of the AtomicBuilder
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/visitors/test_bpmn_promela_visitor.py
Due: mypy, pyright

Event gateway (#361)
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/util/stringmanager.py
  src/bpmncwpverify/visitors/bpmn_graph_visitor.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidations.py
  test/visitors/test_bpmn_promela_visitor.py
Due: mypy, pyright

Remove casts due to better pyright type inference
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/util/file.py
  src/bpmncwpverify/visitors/bpmn_graph_visitor.py
  src/bpmncwpverify/visitors/cwp_graph_visitor.py
Due: mypy, pyright

Refactor CI to not rewrite pyright config
  .github/workflows/development.yaml
  Dockerfile
Due: none

Remove casts due to better pyright type inference (#363)
  .github/workflows/development.yaml
  Dockerfile
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/util/file.py
  src/bpmncwpverify/visitors/bpmn_graph_visitor.py
  src/bpmncwpverify/visitors/cwp_graph_visitor.py
Due: mypy, pyright

Add default excludes
  pyrightconfig.json
Due: none

Refactor bound computation in CBMC builder
  src/bpmncwpverify/builder/cbmc_builder.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Expose last_bound on CbmcBuilder after build()
  src/bpmncwpverify/builder/cbmc_builder.py
Due: mypy, pyright

Add CBMC runner: CbmcVerificationReport, CbmcOutputParser, verify_with_cbmc
  src/bpmncwpverify/core/cbmc.py
Due: mypy, pyright

Add R5a bound algorithm for CBMC unwind depth calculation
  src/bpmncwpverify/builder/cbmc_builder.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Add parallel gateway, intermediate event, and behavior translation to CBMC visitor
  src/bpmncwpverify/builder/cbmc_builder.py
Due: mypy, pyright

Add CBMC runner error types to error.py
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

Add CBMC bound computation module and associated tests
  src/bpmncwpverify/builder/cbmc_bound.py
  src/bpmncwpverify/builder/cbmc_builder.py
Due: mypy, pyright

Update how the best bound is being found
  src/bpmncwpverify/builder/cbmc_bound.py
Due: mypy, pyright

Replace bound_out list hack with tuple return; use argparse exclusive group
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/cli.py
  test/test_cbmc_cli.py
Due: mypy, pyright

Wire --cbmc flag into CLI with mutual exclusion guard
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Add CBMC CLI tests and output fixtures
  test/resources/cbmc/correctness_failure.txt
  test/resources/cbmc/correctness_success.txt
  test/resources/cbmc/reachability_failure.txt
  test/resources/cbmc/reachability_success.txt
  test/resources/cbmc/subprocess_error.txt
  test/test_cbmc_cli.py
Due: pyright

Require CBMC for relevant tests and track its resources
  .gitignore
  test/builder/test_cbmc_builder.py
  test/test_cbmc_cli.py
Due: pyright

Refactor cli.py to eliminate repeated patterns
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Remove assert.h include and has_explicit_name from BpmnElement
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
Due: mypy, pyright

Improve CBMC failure output to show human-readable goal labels
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

Inline CBMC fixture strings instead of reading from files
  test/test_cbmc_cli.py
Due: pyright
