Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy (with returns plugin)
  entry: python -m mypy
  language: system
  args:
  - --config-file=pyproject.toml

pyright:
  name: Pyright Type Check
  entry: pyright
  language: system

Added CounterExample output to invalidendState _get_error_message was missing it so I just added it and fixed the test
  src/bpmncwpverify/core/error.py
  test/core/test_error.py
Due: mypy, pyright

Fixed time issue Added new varible to promelaGenVisitor to store the process Replace function no longer being used to save time
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Fixed tests
  test/visitors/test_bpmn_promela_visitor.py
Due: pyright

Converted the cwp and bpmn conversion to xml updater to use a helper function in web_verify. Removed print statements from file.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/util/file.py
Due: mypy, pyright

Converted the cwp checker against cwp and bpmn file updater to use a helper function in the _verify_with_spin function. Removed print statements in other files
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Converted reading status updater to be in a helper function within _verify_with_spin_from_files function. Removed print from file.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/util/file.py
Due: mypy, pyright

Added print statements through various files to give udpates on what the program is doing
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/util/file.py
Due: mypy, pyright

Switched all print statements into logging statements on level INFO
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Added new resources and fixed some of them
  test/resources/TM/cwp.xml
  test/resources/TM/state.txt
  test/resources/TM/workflowTM.bpmn
  test/resources/TM/workflowTM_data_reference.bpmn
  test/resources/TM/workflowTM_none_caught_error.bpmn
  test/resources/boundaryevents/cwp.png
  test/resources/boundaryevents/cwp.xml
  test/resources/boundaryevents/workflow.bpmn
  test/resources/boundaryevents/workflow_boundary_events.png
  test/resources/greetings/cwp.png
  test/resources/greetings/workflow.png
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.bpmn
Due: none

Removed unconnected edge in cwp and ensured all edges were connected to a box. Added xml diagram of workflow for ease of uploading to github
  test/resources/tm/cwp.xml
  test/resources/tm/workflow.xml
Due: none

Added implementation for phware workflow diagram that removes the message event start and adds message event gates to improve functionality
  test/resources/phware/workflow_no_message_start.bpmn
  test/resources/phware/workflow_no_message_start.xml
Due: none

Initial commit for tm example with files
  test/resources/tm/cwp.png
  test/resources/tm/cwp.xml
  test/resources/tm/workflow.bpmn
  test/resources/tm/workflow.svg
Due: none

Added state document for the tm example with all enums and vars declared as shown in the cwp
  test/resources/tm/state.txt
Due: none

Fixed mismatched variable names in state and cwp
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
Due: none

Updated some names to be more descriptive
  test/resources/phware/workflow_no_message_start.bpmn
Due: none

Added a start node for the tm cwp to make it obvious where the start is and the initial vars
  test/resources/tm/cwp.xml
Due: none

reverted sar examples to original not close enough to fixing and has larger issues at hand
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
Due: none

Update Dockerfile to enhance CBMC build process and clarify comments
  Dockerfile
Due: none

Add CBMC installation step to development workflow
  .github/workflows/development.yaml
Due: none

Update how the cbmc version is grabbed for GitHub actions
  .github/workflows/development.yaml
Due: none

Fix: Update pythonpath in pytest configuration for improved module resolution
  pyproject.toml
Due: none

Add R5a bound algorithm for CBMC unwind depth calculation
  src/bpmncwpverify/builder/cbmc_builder.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Refactor BPMN behavior translation and enhance test coverage
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Refactor bound computation in CBMC builder
  src/bpmncwpverify/builder/cbmc_builder.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Add CBMC bound computation module and associated tests
  src/bpmncwpverify/builder/cbmc_bound.py
  src/bpmncwpverify/builder/cbmc_builder.py
  test/builder/test_cbmc_bound.py
Due: mypy, pyright

Update how the best bound is being found
  src/bpmncwpverify/builder/cbmc_bound.py
Due: mypy, pyright

Converted print statement from spin.py to logger statement and moved to helper function inside _verify_with_spin
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/spin.py
Due: mypy, pyright

Added status updates (#347)
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Add Parallel Gateway support and BPMN behavior translation for CBMC (#350)
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Add CBMC to Docker image and CI workflow (#354)
  .github/workflows/development.yaml
  Dockerfile
  pyproject.toml
Due: none

Changed name for stringmanager indentaction
  src/bpmncwpverify/util/stringmanager.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Start events channels local info (#349)
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/accessmethods/processmethods.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/util/stringmanager.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/builder/test_promela_builder.py
  test/core/test_counterexample.py
  test/core/test_error.py
  test/resources/greetings/cwp.xml
  test/resources/greetings/state.txt
  test/resources/greetings/workflow.bpmn
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Add parallel gateway, intermediate event, and behavior translation to CBMC visitor
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Update CBMC builder tests for new visitor API and bound computation
  test/builder/test_cbmc_builder.py
Due: pyright

Allow BPMN elements without explicit name attributes to pass validation
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: ^(test/|src/bpmncwpverify/antlr/|original/)
  pyright: any of: \.py$
