Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Squashed commits into one to make rebasing to Main easier. Also added images to typedef example
  test/resources/simple_typedef/image_cwp.png
  test/resources/simple_typedef/image_workflow.png
Due: none

Fixed some bugs with the tests from rebasing
  src/bpmncwpverify/builder/promela_builder.py
  test/builder/test_promela_builder.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Converted simple_typedef example to FEEL
  test/resources/simple_typedef/workflow.bpmn
Due: none

Converted typedef functions to use bind instead of unwrap
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

add chokidar watcher
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  puppeteer-config.json
  watcher.js
Due: none

remove parser visitor
  src/bpmncwpverify/antlr/CwpParserVisitor.py
Due: pyright

Add mermaid support for cwp (#399)
  antlr/CwpLexer.g4
  antlr/CwpParser.g4
  src/bpmncwpverify/antlr/CwpLexer.interp
  src/bpmncwpverify/antlr/CwpLexer.py
  src/bpmncwpverify/antlr/CwpLexer.tokens
  src/bpmncwpverify/antlr/CwpParser.interp
  src/bpmncwpverify/antlr/CwpParser.py
  src/bpmncwpverify/antlr/CwpParser.tokens
  src/bpmncwpverify/antlr/CwpParserListener.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/frontends/bpmnParser.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/frontends/processmethods.py
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/core/frontends/test_cwpmmdparser.py
  test/core/frontends/test_cwpxmlparser.py
  test/core/test_bpmn.py
  test/core/test_cwp.py
  test/resources/blackbox/cwp.mmd
  test/resources/boundaryevents/cwp.mmd
  test/resources/face2face/feel/cwp.mmd
  test/resources/greetings/cwp.mmd
  test/resources/phware/feel/cwp.mmd
  test/resources/sar/cwp.mmd
  test/resources/simple_example/feel/cwp.mmd
  test/resources/simple_list/cwp.mmd
  test/resources/tm/cwp.mmd
Due: mypy, pyright

watcher runs in background of container
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  Dockerfile
  watcher.js
Due: none

remove newline
  .devcontainer/devcontainer.json
Due: none

TM example is in feel language Fixed typechecker for triple added test for feel ast parser
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_feel_ast.py
  test/resources/tm/cwp.png
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/workflow.svg
  test/resources/tm/workflow_tm.bpmn
  test/resources/tm/workflow_tm.svg
Due: mypy, pyright

cwp svgs
  test/resources/blackbox/cwp.svg
  test/resources/boundaryevents/cwp.svg
  test/resources/face2face/feel/cwp.svg
  test/resources/greetings/cwp.svg
  test/resources/phware/feel/cwp.svg
  test/resources/sar/cwp.svg
  test/resources/simple_example/feel/cwp.svg
  test/resources/simple_list/cwp.svg
  test/resources/tm/cwp.svg
Due: none

Sar example converted to feel
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.svg
  test/resources/sar/workflow_sar.bpmn
  test/resources/sar/workflow_sar.svg
Due: none

new grammar new me
  .gitignore
  antlr/Cwp.g4
  antlr/CwpParser.g4
  src/bpmncwpverify/antlr/Cwp.interp
  src/bpmncwpverify/antlr/Cwp.tokens
  src/bpmncwpverify/antlr/CwpLexer.interp
  src/bpmncwpverify/antlr/CwpLexer.py
  src/bpmncwpverify/antlr/CwpLexer.tokens
  src/bpmncwpverify/antlr/CwpListener.py
  src/bpmncwpverify/antlr/CwpParser.interp
  src/bpmncwpverify/antlr/CwpParser.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
Due: mypy, pyright

remove error
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

updated tests
  test/core/frontends/test_cwpmmdparser.py
Due: pyright

Converted blackbox and updated images Fixed tm to not have extra variable for branches
  test/resources/blackbox/cwp.png
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/workflow.svg
  test/resources/blackbox/workflow_blackbox.bpmn
  test/resources/blackbox/workflow_blackbox.svg
  test/resources/tm/state.txt
  test/resources/tm/workflow_tm.bpmn
Due: none

Simplify the Cwp.mmd antlr grammar (#403)
  .gitignore
  antlr/Cwp.g4
  antlr/CwpParser.g4
  src/bpmncwpverify/antlr/Cwp.interp
  src/bpmncwpverify/antlr/Cwp.tokens
  src/bpmncwpverify/antlr/CwpLexer.interp
  src/bpmncwpverify/antlr/CwpLexer.py
  src/bpmncwpverify/antlr/CwpLexer.tokens
  src/bpmncwpverify/antlr/CwpListener.py
  src/bpmncwpverify/antlr/CwpParser.interp
  src/bpmncwpverify/antlr/CwpParser.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  test/core/frontends/test_cwpmmdparser.py
Due: mypy, pyright

Cleaned up face2facea and phware files Fixed test that had file paths changed
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/resources/face2face/cwp.mmd
  test/resources/face2face/cwp.png
  test/resources/face2face/cwp.svg
  test/resources/face2face/cwp.xml
  test/resources/face2face/face2face_open.bpmn
  test/resources/face2face/feel/cwp.xml
  test/resources/face2face/feel/face2face_open.bpmn
  test/resources/face2face/feel/state.txt
  test/resources/face2face/valid_output.pml
  test/resources/face2face/workflow.bpmn
  test/resources/face2face/workflow.svg
  test/resources/face2face/workflow_face2face.bpmn
  test/resources/face2face/workflow_face2face.svg
  test/resources/phware/cwp.mmd
  test/resources/phware/cwp.png
  test/resources/phware/cwp.xml
  test/resources/phware/feel/cwp.xml
  test/resources/phware/feel/state.txt
  test/resources/phware/workflow.bpmn
  test/resources/phware/workflow.svg
  test/resources/phware/workflow_phware.bpmn
  test/resources/phware/workflow_phware.svg
  test/test_cbmc_cli.py
  test/test_cli.py
Due: pyright

fix some things
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  Dockerfile
Due: none

add debounce timers to track all the files
  watcher.js
Due: none

debounce filters out non mmd
  watcher.js
Due: none

Automatically convert mmd to svg (#402)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  Dockerfile
  package-lock.json
  package.json
  puppeteer-config.json
  test/resources/blackbox/cwp.svg
  test/resources/boundaryevents/cwp.svg
  test/resources/face2face/feel/cwp.svg
  test/resources/greetings/cwp.svg
  test/resources/phware/feel/cwp.svg
  test/resources/sar/cwp.svg
  test/resources/simple_example/feel/cwp.svg
  test/resources/simple_list/cwp.svg
  test/resources/tm/cwp.svg
  watcher.js
Due: none

start adding initial edges
  antlr/Cwp.g4
  src/bpmncwpverify/antlr/Cwp.interp
  src/bpmncwpverify/antlr/Cwp.tokens
  src/bpmncwpverify/antlr/CwpLexer.interp
  src/bpmncwpverify/antlr/CwpLexer.py
  src/bpmncwpverify/antlr/CwpLexer.tokens
  src/bpmncwpverify/antlr/CwpListener.py
  src/bpmncwpverify/antlr/CwpParser.py
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  test/resources/face2face/feel/cwp.mmd
Due: mypy, pyright

Converted all examples except simple_list fixed test that broke due renaming/moving files
  test/builder/test_cbmc_bound.py
  test/builder/test_cbmc_builder.py
  test/resources/boundaryevents/workflow.png
  test/resources/boundaryevents/workflow_boundaryevents.bpmn
  test/resources/boundaryevents/workflow_boundaryevents.svg
  test/resources/greetings/workflow.png
  test/resources/greetings/workflow_greetings.bpmn
  test/resources/greetings/workflow_greetings.svg
  test/resources/simple_example/bad_test_bpmn.bpmn
  test/resources/simple_example/cwp.mmd
  test/resources/simple_example/feel/simple_open.bpmn
  test/resources/simple_example/feel/state.txt
  test/resources/simple_example/feel/test_cwp.xml
  test/resources/simple_example/simple_open.bpmn
  test/resources/simple_example/test_bpmn.bpmn
  test/resources/simple_example/test_bpmn.svg
  test/resources/simple_example/test_cwp.png
  test/resources/simple_example/valid_output.pml
  test/test_cli.py
Due: pyright

added Type_checking to start state in edge fixed test for cwp mapping test
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Removed optional str or Feel to just Feel Added tests and fixed promela visitors
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/frontends/processmethods.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Fixed mermaid parser to be only Feel not optional
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
Due: mypy, pyright

Fixed bugs for from_mmd code and expressions All exceptions were changed to the custom errorexception that was created All test were fixed and updated to reflect changes
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  test/core/frontends/test_cwpmmdparser.py
  test/core/frontends/test_cwpxmlparser.py
Due: mypy, pyright

added start edge that parses
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  test/resources/face2face/feel/cwp.mmd
Due: mypy, pyright

Enforced Feel type for task behaviors and edge expressions
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/feel_to_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Enforce Feel type for edge expressions in test utilities
  test/visitors/test_cwp_cbmc_visitor.py
Due: pyright

cwp files now contain initial variable declarations
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/state.py
  test/resources/face2face/state.txt
Due: mypy, pyright

Edge expr (#407)
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/frontends/cwpMermaidParser.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/frontends/processmethods.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  src/bpmncwpverify/visitors/feel_to_cbmc_visitor.py
  test/core/frontends/test_cwpmmdparser.py
  test/core/frontends/test_cwpxmlparser.py
  test/core/test_feel_ast.py
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

update xml parser to include start edge
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  test/resources/face2face/cwp.xml
Due: mypy, pyright

update examples
  test/resources/blackbox/cwp.mmd
  test/resources/blackbox/cwp.svg
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/state.txt
  test/resources/boundaryevents/cwp.mmd
  test/resources/boundaryevents/cwp.svg
  test/resources/boundaryevents/cwp.xml
  test/resources/boundaryevents/state.txt
  test/resources/face2face/cwp.svg
  test/resources/face2face/feel/cwp.svg
  test/resources/greetings/cwp.mmd
  test/resources/greetings/cwp.svg
  test/resources/greetings/cwp.xml
  test/resources/greetings/state.txt
  test/resources/phware/cwp.mmd
  test/resources/phware/cwp.svg
  test/resources/phware/cwp.xml
  test/resources/phware/feel/cwp.svg
  test/resources/phware/state.txt
  test/resources/sar/cwp.mmd
  test/resources/sar/cwp.svg
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
  test/resources/simple_example/cwp.mmd
  test/resources/simple_example/cwp.svg
  test/resources/simple_example/feel/cwp.svg
  test/resources/simple_example/state.txt
  test/resources/simple_example/test_cwp.xml
  test/resources/tm/cwp.mmd
  test/resources/tm/cwp.svg
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
Due: none

fix cwp builder tests
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/error.py
  test/builder/test_cwp_builder.py
Due: mypy, pyright

fix promela builder tests
  test/builder/test_promela_builder.py
Due: pyright

fix lots of tests
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/frontends/cwpXmlParser.py
  src/bpmncwpverify/core/state.py
  test/builder/test_promela_builder.py
  test/core/frontends/test_cwpmmdparser.py
  test/core/frontends/test_cwpxmlparser.py
  test/core/test_cwp.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_state.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright
