Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy (with returns plugin)
  entry: python -m mypy
  language: system
  args:
  - --config-file=pyproject.toml

pyright:
  name: Pyright Type Check
  entry: pyright
  language: system

Initial commit to branch. Changes from 2 lanes on workflow to 3. Working model. Update state to make comms include an updates option for asking for updates. Updated cwp to reflect updates being added
  test/resources/blackbox/cwp.png
  test/resources/blackbox/cwp.xml
  test/resources/blackbox/state.txt
  test/resources/blackbox/workflow.bpmn
  test/resources/blackbox/workflow.svg
Due: none

Updated workflow ID's to include better names for troubleshooting
  test/resources/blackbox/workflow.bpmn
  test/resources/blackbox/workflow.svg
Due: none

Removed extra tracestep from counterexample fixed print signature for byte in _get_print_type
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/counterexample.py
Due: mypy, pyright

Removed extra tracestep from counterexample (#327)
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/counterexample.py
Due: mypy, pyright

Added in edge to start state Added bool for if a CwpState is the initial state or not Added caculate state to promela code
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
Due: mypy, pyright

Adjusted test to accomdate new changes Checks for multiple/no start states was moved to find_start_state in builder, but now it raises it instead
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  test/builder/test_cwp_builder.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_cwp.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

moved some function calls around to be cleaner
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
Due: mypy, pyright

Changed promela to have contents of init in atomic
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Changed promela to have contents of init in atomic (#330)
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Removed commented out code
  src/bpmncwpverify/builder/cwp_builder.py
Due: mypy, pyright

242 fix cwp start node bug (#331)
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/builder/test_cwp_builder.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_cwp.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Added to task attributes to find promela behavior
  src/bpmncwpverify/core/bpmn.py
Due: mypy, pyright

Adjusted counterexample and bpmnvalidatefunctions so that they nolonger require specific phrases in strings.
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
Due: mypy, pyright

Corrected test for the bpmnvalidate
  test/core/test_bpmn.py
Due: pyright

created filter in from_xml for dummy proccesses
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
Due: mypy, pyright

added a comment for readability
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
Due: mypy, pyright

Added Open-BPMN versions of simple and face2face
  test/resources/face2face/face2face_open.bpmn
  test/resources/simple_example/simple_open.bpmn
Due: none

Fix formatting issues with pre-commit
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/bpmn.py
  test/core/test_bpmn.py
Due: mypy, pyright

Expanding parser (#338)
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
  test/core/test_bpmn.py
  test/resources/face2face/face2face_open.bpmn
  test/resources/simple_example/simple_open.bpmn
Due: mypy, pyright

Added printf statements before all assers in pml Adjusted test to match new output Adjusted check_coverage_errors in spin.py to egnore the printf for those paths
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Added printf statements before all assers in pml (#340)
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Added more catches that were raised from TM model Includes objects used in cwp creation and invalid expression symbols Test were also updated to reflect this
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/error.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_error.py
Due: mypy, pyright

Added check for shapes Only rounded rectangles are allowed now in the cwp Test cases, phware, and simple_example were also updated to match this
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/error.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_cwp.py
  test/core/test_error.py
  test/resources/phware/cwp.xml
  test/resources/simple_example/test_cwp.xml
Due: mypy, pyright

Changed shape filter and fixed all example cwps Rounded rectangle and normal rectangles are now excepted.
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  test/core/accessmethods/test_cwpmethods.py
  test/resources/blackbox/cwp.xml
  test/resources/boundaryevents/cwp.xml
  test/resources/sar/cwp.xml
Due: mypy, pyright

Error catch (#341)
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/error.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/test_cwp.py
  test/core/test_error.py
  test/resources/blackbox/cwp.xml
  test/resources/boundaryevents/cwp.xml
  test/resources/phware/cwp.xml
  test/resources/sar/cwp.xml
  test/resources/simple_example/test_cwp.xml
Due: mypy, pyright

moved variable defs to processes started making changes for channels
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/util/stringmanager.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
Due: mypy, pyright

Added test for new error
  test/core/test_error.py
Due: pyright

Refactor CWP state tracking to use a single integer ID
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Remove simple_cbmc_v2.c file, consolidating CBMC examples into simple_cbmc.c for clarity and maintainability.
  test/resources/simple_example/simple_cbmc.c
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Add reachability checks via __CPROVER_cover to face2face CBMC model
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Add Face-to-Face CBMC model using Petri-net token encoding
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Refactor face2face CBMC model to explicit two-pool structure
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Fix Strata invariants to prove all 15 goals
  test/resources/simple_example/simple_strate.st
Due: none

Add intentional-bug variant and CBMC XML trace parser for face2face
  test/resources/face2face/face2face_cbmc_bug.c
  test/resources/face2face/parse_cbmc_xml.py
Due: pyright

Add simple CBMC v2 example for BPMN place modeling
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Refactor Face-to-Face CBMC model for direct control flow
  test/resources/face2face/face2face_cbmc.c
Due: none

Add Face-to-Face transaction CBMC model using BPMN places
  test/resources/face2face/face2face_cbmc.c
Due: none

Remove redundant assertions from Face-to-Face CBMC model
  test/resources/face2face/face2face_cbmc.c
Due: none

Add Face-to-Face Strata model with explicit parallel interleaving
  test/resources/face2face/face2face_strate_v2.st
Due: none

Add Face-to-Face model with simple negotiation alternatives
  test/resources/face2face/face2face_strate.core.st
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(test/|src/bpmncwpverify/antlr/|original/)
  pyright: any of: \.py$
