Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Dynamic create pyright config in workflow
  .github/workflows/development.yaml
  pyrightconfig.json
Due: none

Dynamic create Pyright config in workflow (#273)
  .github/workflows/development.yaml
  pyrightconfig.json
Due: none

Remove code and scripts from original code base
  .github/workflows/development.yaml
  .pre-commit-config.yaml
  README.md
  original/BPMN-Generate/LongScaling.py
  original/BPMN-Generate/WideScaling.py
  original/BPMN_Visitor/BPMN_Visitor.py
  original/CSVIngest/CSVIngestor.py
  original/CWP-Generate/CWPLongScaling.py
  original/CWP-Generate/CWPWideScaling.py
  original/CWP/CWP.py
  original/CounterExampleParser/CounterExampleParser.py
  original/CounterExampleVisualize/BPMNETModifier.py
  original/CounterExampleVisualize/CWPETModifier.py
  original/CounterExampleVisualize/CounterExampleXMLGenerator.py
  original/ExpressionParse/ExpressionParser.py
  original/PromelaGeneration/LTL_gen.py
  original/PromelaGeneration/Promela_gen_visitor.py
  original/PromelaGeneration/Stub_gen_visitor.py
  original/StateIngest/ActivityModifiesIngest.py
  original/StateIngest/StateIngestor.py
  original/Util/chromium-browser
  original/Util/genCounterExampleImage.sh
  original/Util/test.sh
  original/Util/verify.sh
  original/XMLIngest/BPMNXMLIngestor.py
  original/XMLIngest/CWPXMLIngestor.py
  original/bpmn/BPMN.py
  original/bpmn/flow.py
  original/bpmn/nodes.py
  original/main/main.py
  pyproject.toml
  pyrightconfig.json
  scripts/docker-interface/Dockerfile
  scripts/docker-interface/launch_verify.sh
  scripts/docker-interface/verify.sh
  scripts/example-runners/regenerate_scaling_examples.sh
  scripts/example-runners/run_all_examples.sh
  scripts/example-runners/run_parallel_scaling_examples.sh
  scripts/example-runners/run_premade_examples.sh
  scripts/example-runners/run_sequential_scaling_examples.sh
Due: pyright

Verify and remove IO marker at the CLI entry
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Creat spin builder to produce verification report
  .pre-commit-config.yaml
  pyproject.toml
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/util/file.py
  test/core/test_spin.py
  test/test_cli.py
  test/test_error.py
Due: mypy, pyright

Pre-commit all files to organize imports
  src/bpmncwpverify/builder/bpmn_builder.py
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/builder/process_builder.py
  src/bpmncwpverify/client_cli/clientcli.py
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/accessmethods/processmethods.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/util/stringmanager.py
  src/bpmncwpverify/visitors/bpmn_graph_visitor.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidate.py
  src/bpmncwpverify/visitors/bpmnchecks/bpmnvalidations.py
  src/bpmncwpverify/visitors/bpmnchecks/checkmethods.py
  src/bpmncwpverify/visitors/cwp_connectivity_visitor.py
  src/bpmncwpverify/visitors/cwp_graph_visitor.py
  src/bpmncwpverify/visitors/cwppromelavisitor.py
  test/builder/test_bpmn_builder.py
  test/builder/test_cwp_builder.py
  test/builder/test_process_builder.py
  test/core/accessmethods/test_cwpmethods.py
  test/core/client_cli/test_clientcli.py
  test/core/test_bpmn.py
  test/core/test_counterexample.py
  test/core/test_cwp.py
  test/core/test_expr_interface.py
  test/core/test_expr_parser.py
  test/core/test_state.py
  test/core/test_typechecking.py
  test/visitors/bpmnchecks/test_bpmn_connectivity_visitor.py
  test/visitors/bpmnchecks/test_bpmnvalidate.py
  test/visitors/bpmnchecks/test_bpmnvalidations.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_connectivity_visitor.py
  test/visitors/test_cwppromelavisitor.py
Due: mypy, pyright

Remove tests that run spin
  test/test_cli.py
Due: pyright

Refactor CLI to share code with the web interface
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/util/file.py
  test/client_cli/test_clientcli.py
  test/core/test_error.py
  test/test_cli.py
Due: mypy, pyright

Skip tests that run SPIN in GitHub actions
  test/test_cli.py
Due: pyright

Rename cwppromelavisitor to snake case
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/builder/test_promela_builder.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

Remove ExceptionError
  src/bpmncwpverify/core/error.py
Due: mypy, pyright

Refactor PromelaBuider to take object instances
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/accessmethods/bpmnmethods.py
  src/bpmncwpverify/core/accessmethods/cwpmethods.py
  src/bpmncwpverify/core/spin.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/util/file.py
  test/builder/test_promela_builder.py
  test/core/test_state.py
  test/test_cli.py
Due: mypy, pyright

Refacter state.py to be idiomatic with returns
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/state.py
  test/core/test_error.py
Due: mypy, pyright

Move state promela generation into promela_builder
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/state.py
  test/builder/test_promela_builder.py
  test/core/test_state.py
  test/test_cli.py
Due: mypy, pyright

Moves deployment instructions to separate doc
  README.md
  docs/deployments..md
Due: none

Adds Lambda deployment instructions
  docs/deployments..md
Due: none

Removes behavior data from verification process
  docs/deployments..md
  lambda_function.py
Due: mypy, pyright

WIP working dockerfile
  Dockerfile
Due: none

Builds Spin Lambda layer using multi-stage Dockerfile
  Dockerfile
Due: none

Refactors Docker setup for Lambda deployment
  Dockerfile
  docker-compose.yml
  docs/deployments..md
  docs/docker-build.md
Due: none

Updates ECR repo and Lambda function names
  docs/deployments..md
Due: none

Adds instructions for testing deployed Lambda
  docs/deployments..md
Due: none

Updates Lambda URL
  src/bpmncwpverify/client_cli/clientcli.py
  src/bpmncwpverify/web/mainPage.html
Due: mypy, pyright

Configures devcontainer for development
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  Dockerfile
Due: none

Simplifies Docker setup for deployment
  Dockerfile
  docker-compose.yml
Due: none

Fixes argument order in web_verify function
  docs/deployments.md
  lambda_function.py
Due: mypy, pyright

Removes Lambda function code from documentation
  docs/deployments.md
Due: none

Install pyright and update site packages path
  .devcontainer/post-create.sh
  pyrightconfig.json
Due: none

Migrate the lambda to the lab account (#294)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  Dockerfile
  README.md
  docker-compose.yml
  docs/deployments.md
  docs/docker-build.md
  lambda_function.py
  pyrightconfig.json
  src/bpmncwpverify/client_cli/clientcli.py
  src/bpmncwpverify/web/mainPage.html
Due: mypy, pyright

Merge Lambda access into main CLI
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/client_cli/clientcli.py
  src/bpmncwpverify/core/error.py
Due: mypy, pyright
