Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy (with returns plugin)
  entry: python -m mypy
  language: system
  args:
  - --config-file=pyproject.toml

pyright:
  name: Pyright Type Check
  entry: pyright
  language: system

Changed name of var_array_decl to just array_decl and rebuilt state antlr parsing files
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright

Added function call to verify to debug error
  src/bpmncwpverify/cli.py
Due: mypy, pyright

Added type checking into arrays
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added array support to exit functions in the State _Listener. Changed the grammar slightly so the values in the lists are called id_list. Rebuilt parser
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added type checking to the arrays, still will require work on this function
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added a new simple_list example that inits a list
  test/resources/simple_list/cwp.xml
  test/resources/simple_list/state.txt
  test/resources/simple_list/workflow.bpmn
Due: none

Updated the grammar, had the wrong symbol on a component. Rebuilt parsing files
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright

Removed comma from the list definition. Rebuilt parser. Added a function to check id_lists from state.txt and to make sure the array isn't size 0. Removed unused ignore in state.py
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/core/state.py
  test/resources/simple_list/state.txt
Due: mypy, pyright

Reworked array definition. Changed ID to only start with letters, not numbers. Rebuilt state parser
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateParser.py
  test/resources/simple_list/state.txt
Due: pyright

Fixed string printing of state with arrays.
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added support in the grammar to parse simple arrays (i.e. myList[1] or myList[x], but NOT myList[x + 1] and myList[3 + 4]). Need to add listener handlers for arrays
  antlr/Expr.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
Due: pyright

Added semi-colons to the promela builder as well as fixed a case where you cannot hide bits or bool types in promela
  src/bpmncwpverify/builder/promela_builder.py
Due: mypy, pyright

Set workflow to show spin not covering all states in the cwp
  test/resources/simple_list/workflow.bpmn
Due: none

Rebased to feel, fixing files I messed up in the merge
  src/bpmncwpverify/core/state.py
  test/resources/simple_list/cwp.xml
  test/resources/simple_list/workflow.bpmn
Due: mypy, pyright

Added test to check the StateArraySizeError message
  test/core/test_error.py
Due: pyright

Added fourth slot to State to satisfy the array list decl in test
  test/visitors/test_feel_typechecker_visitor.py
Due: pyright

Added arrays into tests
  test/builder/test_promela_builder.py
Due: pyright

Added more array decls to ensure tests run and pass, removed semi-colons from promela builder bc tests don't have them
  src/bpmncwpverify/builder/promela_builder.py
  test/builder/test_promela_builder.py
Due: mypy, pyright

Added arrays to cwp promela visitor tests to pass
  test/visitors/test_cwp_promela_visitor.py
Due: pyright

Added tests that ensure an error is thrown with bad array declaration size
  src/bpmncwpverify/core/error.py
  test/core/test_state.py
Due: mypy, pyright

Added tests to the interface that included arrays
  test/core/test_expr_interface.py
Due: pyright

Added array tests to expression parser
  test/core/test_expr_parser.py
Due: pyright

fixed readme to include extra steps for ANTLR
  README.md
Due: none

Fixed var_decl from having 0 or more instances in the grammar to 1 or more
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright

Removed unused comma definition in the state grammar
  antlr/State.g4
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateParser.py
Due: pyright

Removed commented out code from testing new functions in promela_builder. Removed arrays from cwp_promela_visitor as they were not supposed to be there
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
Due: mypy, pyright

Removed trash file from cwp editor
  test/resources/simple_list/.$cwp.xml.bkp
Due: none

Removed prime arrays from test cases
  test/visitors/test_cwp_promela_visitor.py
Due: pyright

Fixed some tests needing a var at the end of the state def. Still need to fix 2 testrs in test_expr_interface
  test/core/test_expr_interface.py
  test/core/test_state.py
Due: pyright

Accidentally made 2 variables the same name in a test. Fixed
  test/core/test_expr_interface.py
Due: pyright

Created separate functions for turning the state into a string. Refactored into the to_string function
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Expanded Grammar to Include Arrays (#381)
  antlr/Expr.g4
  antlr/State.g4
  src/bpmncwpverify/antlr/Expr.interp
  src/bpmncwpverify/antlr/Expr.tokens
  src/bpmncwpverify/antlr/ExprLexer.interp
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprLexer.tokens
  src/bpmncwpverify/antlr/ExprListener.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/State.interp
  src/bpmncwpverify/antlr/State.tokens
  src/bpmncwpverify/antlr/StateLexer.interp
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateLexer.tokens
  src/bpmncwpverify/antlr/StateListener.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/expr.py
  src/bpmncwpverify/core/state.py
  test/builder/test_promela_builder.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_expr_parser.py
  test/core/test_state.py
  test/resources/simple_list/cwp.xml
  test/resources/simple_list/state.txt
  test/resources/simple_list/workflow.bpmn
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Wired in parser and typechecker to code base Made grammer stricter for qualified names
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/builder/cwp_builder.py
  src/bpmncwpverify/builder/process_builder.py
  src/bpmncwpverify/core/accessmethods/processmethods.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/core/cwp.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/visitors/cwp_graph_visitor.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_cwp.py
  test/core/test_feel_ast.py
  test/test_cli.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Fixed all but cbmc related tests
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/builder/test_process_builder.py
  test/resources/face2face/feel/cwp.xml
  test/resources/face2face/feel/state.txt
  test/resources/face2face/feel/workflow.bpmn
  test/test_cli.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Wired in, has issue with choose
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
Due: mypy, pyright

staged almost working, choose placement issues
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Wired in source change into visitors for promela need to figure out choose promela and how it should be written Added feel ast to be apart of object when parsed from bpmn
  src/bpmncwpverify/core/accessmethods/processmethods.py
  src/bpmncwpverify/core/bpmn.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Separated selects from expression in visitors Face to face runs in Feel
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
Due: mypy, pyright

Fixed duplicate variable names Chooses had same name if muplitle in expression, now its indexed
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Made id for chooses default to "" in none
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: ^(test/|src/bpmncwpverify/antlr/|original/)
  pyright: any of: \.py$
