Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Keep CBMC output fixtures local only
  .gitignore
  test/resources/cbmc/correctness_failure.txt
  test/resources/cbmc/correctness_success.txt
  test/resources/cbmc/reachability_failure.txt
  test/resources/cbmc/reachability_success.txt
  test/resources/cbmc/subprocess_error.txt
Due: none

Enhance CBMC error handling and reporting for CLI
  src/bpmncwpverify/core/error.py
  test/core/test_error.py
  test/test_cbmc_cli.py
Due: mypy, pyright

Cast defusedxml.fromstring result to satisfy strict pyright in CI
  src/bpmncwpverify/util/file.py
Due: mypy, pyright

Move CBMC output to local temporary directory
  .gitignore
  src/bpmncwpverify/core/cbmc.py
  src/bpmncwpverify/util/file.py
  test/test_cbmc_cli.py
Due: mypy, pyright

Wire CBMC verification into CLI (--cbmc flag) (#359)
  .gitignore
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/cli.py
  src/bpmncwpverify/core/cbmc.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/util/file.py
  test/builder/test_cbmc_builder.py
  test/core/test_error.py
  test/test_cbmc_cli.py
Due: mypy, pyright

Initial commit for tm example with files
  test/resources/tm/cwp.png
  test/resources/tm/cwp.xml
  test/resources/tm/workflow.bpmn
  test/resources/tm/workflow.svg
Due: none

Added state document for the tm example with all enums and vars declared as shown in the cwp
  test/resources/tm/state.txt
Due: none

Added implementation for phware workflow diagram that removes the message event start and adds message event gates to improve functionality
  test/resources/phware/workflow_no_message_start.bpmn
  test/resources/phware/workflow_no_message_start.xml
Due: none

Removed unconnected edge in cwp and ensured all edges were connected to a box. Added xml diagram of workflow for ease of uploading to github
  test/resources/tm/cwp.xml
  test/resources/tm/workflow.xml
Due: none

Updated some names to be more descriptive
  test/resources/phware/workflow_no_message_start.bpmn
Due: none

Added a start node for the tm cwp to make it obvious where the start is and the initial vars
  test/resources/tm/cwp.xml
Due: none

Fixed mismatched variable names in state and cwp
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
Due: none

Renamed phware workflow file name and added image to phware
  test/resources/phware/workflow.bpmn
  test/resources/phware/workflow.svg
Due: none

Removed old workflow files that didn't work and other redundant files from phware
  test/resources/phware/behaviorModels.pml
  test/resources/phware/models_reference.pml
  test/resources/phware/workflow.bpmn
  test/resources/phware/workflow.svg
  test/resources/phware/workflow_good.bpmn
  test/resources/phware/workflow_no_message_start.xml
Due: none

Added changes to phware workflow to make it pass verification. Added event based gates, fixed splitting logic, enhanced two way communication to prevent deadlocks, and other changes
  test/resources/phware/workflow_no_message_start.bpmn
Due: none

Removed tm example to convert branch into sole phware example
  test/resources/tm/cwp.png
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/workflow.bpmn
  test/resources/tm/workflow.svg
  test/resources/tm/workflow.xml
Due: none

Fixed pml indentation and added more error info
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
Due: mypy, pyright

Fixed Test for new format of promela
  test/core/test_error.py
  test/visitors/test_cwp_promela_visitor.py
Due: pyright

Stashing fixes for fixing trail files
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
Due: mypy, pyright

Added images for cwp and workflow
  test/resources/greetings/cwp.png
  test/resources/greetings/workflow.png
Due: none

Connected events to edges, added names to events
  test/resources/boundaryevents/workflow.bpmn
Due: none

Added x > 0 to stop cwp from transitioning from start to increment immediately
  test/resources/boundaryevents/cwp.xml
Due: none

Added way to show which states and how many Start also now has catch for multiple states
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
Due: mypy, pyright

Fixed test to reflect new changes
  test/core/test_counterexample.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: pyright

Added images to Boundary Events
  test/resources/boundaryevents/cwp.png
  test/resources/boundaryevents/workflow.png
Due: none

Added images for greetings cwp and workflow (#370)
  test/resources/greetings/cwp.png
  test/resources/greetings/workflow.png
Due: none

Cleaned up cwp file, created a start state, ensured all edges actually connected, aligned states and edges to look nice
  test/resources/tm/cwp.xml
Due: none

Added state document with all enums and vars
  test/resources/tm/state.txt
Due: none

Initial commit with tm cwp and workflow
  test/resources/tm/cwp.xml
  test/resources/tm/workflow.bpmn
Due: none

Changed the ors into logical Xor (A || B) && !(A && B)
  test/resources/tm/workflow.bpmn
Due: none

Updated cwp to use a box as the end state instead of a circle, combined AlertStatus and OrderStatus to use same enum, renamed PatientStatus
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
Due: none

Fixed variable misspells in model, changed Xor to || as Xor is not implemented
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/workflow.bpmn
Due: none

Changed Xor into || to make it pass through verification stage. Should look back into this later
  test/resources/tm/cwp.xml
Due: none

Small changes to formatting and style to try to get the verifier running
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/workflow.bpmn
Due: none

Made new test cwp file to remove not implemented error, renamed boxNumb to boxNum, switched constant ints from enums to ints, and made small changes to make tm compile now
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/test_cwp.xml
  test/resources/tm/workflow.bpmn
Due: none

Fixed the xor logic, connected message catch events properly, added an event based gate,
  test/resources/tm/workflow.bpmn
Due: none

Started adding promela, added issued status to state
  test/resources/tm/state.txt
  test/resources/tm/workflow.bpmn
Due: none

Made changes to model, hit bump need to check if process is a loop or if it only goes through once, check boxStatus in cwp
  test/resources/tm/state.txt
  test/resources/tm/test_cwp.xml
  test/resources/tm/workflow.bpmn
Due: none

Many changes to diagrams
  test/resources/tm/test_cwp.xml
  test/resources/tm/workflow.bpmn
Due: none

Saving changes, getting weird behavior from verifier
  test/resources/tm/test_cwp.xml
  test/resources/tm/workflow.bpmn
Due: none
