Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy (with returns plugin)
  entry: python -m mypy
  language: system
  args:
  - --config-file=pyproject.toml

pyright:
  name: Pyright Type Check
  entry: pyright
  language: system

Added images for cwp and workflow
  test/resources/tm/cwp.png
  test/resources/tm/workflow.svg
Due: none

Changes to tm model to get it working, connected edges and activities, using event based gateways to direct flow and communication, added promela to activities for variables
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/test_cwp.xml
  test/resources/tm/workflow.bpmn
Due: none

Phware Update (#364)
  test/resources/phware/behaviorModels.pml
  test/resources/phware/models_reference.pml
  test/resources/phware/workflow.bpmn
  test/resources/phware/workflow.svg
  test/resources/phware/workflow_good.bpmn
Due: none

TM example added (#369)
  test/resources/tm/cwp.png
  test/resources/tm/cwp.xml
  test/resources/tm/state.txt
  test/resources/tm/workflow.bpmn
  test/resources/tm/workflow.svg
Due: none

Fixed spelling errors
  src/bpmncwpverify/core/error.py
  test/core/test_error.py
Due: mypy, pyright

Boundary Events Fix (#371)
  test/resources/boundaryevents/cwp.png
  test/resources/boundaryevents/cwp.xml
  test/resources/boundaryevents/workflow.bpmn
  test/resources/boundaryevents/workflow.png
Due: none

Fixed pml indentation and added more error info (#365)
  src/bpmncwpverify/core/counterexample.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  src/bpmncwpverify/visitors/cwp_promela_visitor.py
  test/core/test_counterexample.py
  test/core/test_error.py
  test/visitors/test_bpmn_promela_visitor.py
  test/visitors/test_cwp_promela_visitor.py
Due: mypy, pyright

More changes to to cwp and worfklow to simplify example
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.bpmn
Due: none

Updated cwp, state, and workflow to test verification
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
  test/resources/sar/workflow.bpmn
Due: none

Started making edges more specific on transitions
  test/resources/sar/cwp.xml
Due: none

Made cwp look prettier, renamed workflow file
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.bpmn
Due: none

Edits
  test/resources/sar/workflow.bpmn
Due: none

Modified cwp edges to be more specific about each transition. Modified workflow to change variables at correct activity
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.bpmn
Due: none

Edits to SAR
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
  test/resources/sar/workflow.bpmn
Due: none

Modified promela to stop skipping constantly past a state
  test/resources/sar/workflow.bpmn
Due: none

Updated order of variables being changed, updated conditions of variables changing, added UAV lane, added images for CWP and workflow, and passes verification
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/workflow.bpmn
  test/resources/sar/workflow.svg
Due: none

Replaced terms waiting and wait with listening and standby respectively to better differentiate the different types of communication states
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
  test/resources/sar/workflow.bpmn
  test/resources/sar/workflow.svg
Due: none

Search and Rescue Update (#366)
  test/resources/sar/cwp.bpmn
  test/resources/sar/cwp.png
  test/resources/sar/cwp.xml
  test/resources/sar/state.txt
  test/resources/sar/workflow.bpmn
  test/resources/sar/workflow.svg
Due: none

Added FEEL grammer and generated files from antlr Tests were changed to reflect new language Type ignore was added to files
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExpr.tokens
  src/bpmncwpverify/antlr/FeelExprLexer.interp
  src/bpmncwpverify/antlr/FeelExprLexer.py
  src/bpmncwpverify/antlr/FeelExprLexer.tokens
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/core/feel_expr.py
  test/core/test_feelexpr_parser.py
Due: mypy, pyright

started visitors and tree builder for FEEL
  src/bpmncwpverify/core/feel_expr.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/feel_typechecking.py
  src/bpmncwpverify/visitors/feel_visitor.py
  test/core/test_feel_typechecking.py
  test/core/test_feelexpr_interface.py
Due: mypy, pyright

Added Feel antlr code and tree/visitor for FEEL
  src/bpmncwpverify/antlr/FeelExprVisitor.py
  src/bpmncwpverify/visitors/feel_visitor.py
  test/visitors/test_feel_visitor.py
Due: mypy, pyright

restored from main to pass mypy
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/core/state.py
Due: mypy, pyright

Added AST parser/builder for supported grammer Test was created for each Node type
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExpr.tokens
  src/bpmncwpverify/antlr/FeelExprLexer.interp
  src/bpmncwpverify/antlr/FeelExprLexer.py
  src/bpmncwpverify/antlr/FeelExprLexer.tokens
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/antlr/FeelExprVisitor.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_expr.py
  src/bpmncwpverify/core/feel_tree.py
  test/core/test_feel_ast.py
  test/core/test_feel_parser.py
Due: mypy, pyright

Added Parser and AST, has mypy erros
  src/bpmncwpverify/antlr/ExprLexer.py
  src/bpmncwpverify/antlr/ExprParser.py
  src/bpmncwpverify/antlr/StateLexer.py
  src/bpmncwpverify/antlr/StateParser.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/visitors/feel_visitor.py
  test/core/test_feel_ast.py
  test/core/test_feel_parser.py
  test/core/test_feel_typechecking.py
  test/core/test_feelexpr_interface.py
  test/visitors/test_feel_visitor.py
Due: mypy, pyright

Removed comments
  src/bpmncwpverify/core/feel_tree.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Added feel typecheckervisitor and tests for it New Errors added and acommodating tests typechecking.py was adjusted for new rules All tests that broke were fixed
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/feel_typechecking.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_feel_parser.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Added type checker visitor class
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_feel_ast.py
Due: mypy, pyright

Standardized class varible names in error.py Added dict for vars and enums in state for quicker look up Standardized visit structure to be like other visit methods in the code base
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/state.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Typechecker is more strict for what lists contain New error was added Test were added and updated for new changes
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_error.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Removed redundant and unused varibles
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
Due: mypy, pyright

Feel Parser and TypeChecker (#374)
  antlr/FeelExpr.g4
  src/bpmncwpverify/antlr/FeelExpr.interp
  src/bpmncwpverify/antlr/FeelExpr.tokens
  src/bpmncwpverify/antlr/FeelExprLexer.interp
  src/bpmncwpverify/antlr/FeelExprLexer.py
  src/bpmncwpverify/antlr/FeelExprLexer.tokens
  src/bpmncwpverify/antlr/FeelExprListener.py
  src/bpmncwpverify/antlr/FeelExprParser.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/core/state.py
  src/bpmncwpverify/core/typechecking.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_error.py
  test/core/test_expr_interface.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

start of feel to promela transform, some tests add
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

start of feel to promela
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

Added visitor for FEEL to promela Added type atribute to ListNodes for souce to source Added test for source to source Added test in typechecker to verify assigning var to var
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Added some more tests to FEEL to Promela change
  test/visitors/test_feel_to_promela_visitor.py
Due: pyright

Added capability to use multiple chooses
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

changed if chains to match cases
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
Due: mypy, pyright

Added raise and a new error for defalut match case Added maybe monad for list.type Added test for a.b.c as qualified name Removed none changed visits and end_visits
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_to_promela_visitor.py
Due: mypy, pyright

FEEL to Promela source change (#377)
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/core/feel.py
  src/bpmncwpverify/core/feel_tree.py
  src/bpmncwpverify/visitors/feel_to_promela_visitor.py
  src/bpmncwpverify/visitors/feel_typechecker_visitor.py
  test/core/test_feel_ast.py
  test/visitors/test_feel_to_promela_visitor.py
  test/visitors/test_feel_typechecker_visitor.py
Due: mypy, pyright

Updated State antlr file to include array declarations
  antlr/State.g4
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(test/|src/bpmncwpverify/antlr/|original/)
  pyright: any of: \.py$
