Repository byu-vv-lab/bpmn_cwp_verify: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^src/bpmncwpverify/antlr
    -   id: end-of-file-fixer
        exclude: ^src/bpmncwpverify/antlr
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.5
    hooks:
    -   id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
    -   id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        exclude: ^src/bpmncwpverify/antlr
        minimum_pre_commit_version: "2.9.2"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
        exclude: ^src/bpmncwpverify/antlr
    -   id: remove-tabs
        exclude: ^src/bpmncwpverify/antlr
-   repo: local
    hooks:
      - id: mypy
        name: mypy (with returns plugin)
        entry: python -m mypy
        language: system
        types: [python]
        args: ["--config-file=pyproject.toml"]
        exclude: ^(test/|src/bpmncwpverify/antlr/|original/)
-   repo: local
    hooks:
    -   id: pyright
        name: Pyright Type Check
        entry: pyright
        language: system
        types: [python]

Add BOUND-based loop limit to Face-to-Face CBMC v2 model
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Add simple CBMC example (#312)
  test/resources/simple_example/simple_cbmc.c
Due: none

Reformat routing conditions and tighten BOUND/retry logic
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Add CWP state reachability checks (4th CWP property)
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Refine simple CBMC example with non-deterministic tasks
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Add simple CBMC v2 example with explicit transition IDs
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Add CWP state tracking and structural property assertions (P1-P3)
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Add simple Strata example with BPMN place encoding
  test/resources/simple_example/simple_strate.st
Due: none

Add CBMC C code generation backend
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Correctly initialize CWP start state in generated CBMC code
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Refine CWP start state initialization for CBMC
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Exclude CWP start state from CBMC reachability
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
Due: mypy, pyright

Add todo
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
Due: mypy, pyright

Add unit tests for BpmnCbmcVisitor and CwpCbmcVisitor
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
Due: pyright

Refactor test assertions for clarity
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
Due: pyright

local variables corrected
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/resources/greetings/verification.pml
Due: mypy, pyright

_build_atomic_block and _build_guard are fixed The new features of sending and receiving tokens are in place
  src/bpmncwpverify/builder/promela_builder.py
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/resources/greetings/verification.pml
Due: mypy, pyright

Uncommented check for proper startEvents
  src/bpmncwpverify/core/bpmn.py
Due: mypy, pyright

Fixed tests, and cleaned up some repeated code
  src/bpmncwpverify/visitors/bpmn_promela_visitor.py
  test/builder/test_promela_builder.py
  test/visitors/test_bpmn_promela_visitor.py
Due: mypy, pyright

Add CBMC C code generation backend (#348)
  src/bpmncwpverify/builder/cbmc_builder.py
  src/bpmncwpverify/core/error.py
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  src/bpmncwpverify/visitors/cwp_cbmc_visitor.py
  test/builder/test_cbmc_builder.py
  test/visitors/test_bpmn_cbmc_visitor.py
  test/visitors/test_cwp_cbmc_visitor.py
Due: mypy, pyright

Add Face-to-Face transaction CBMC model using BPMN places
  test/resources/face2face/face2face_cbmc.c
Due: none

Add Face-to-Face CBMC model using Petri-net token encoding
  test/resources/face2face/face2face_cbmc_v2.c
Due: none

Remove redundant assertions from Face-to-Face CBMC model
  test/resources/face2face/face2face_cbmc.c
Due: none

Remove simple_cbmc_v2.c file, consolidating CBMC examples into simple_cbmc.c for clarity and maintainability.
  test/resources/simple_example/simple_cbmc.c
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Fix Strata invariants to prove all 15 goals
  test/resources/simple_example/simple_strate.st
Due: none

Add Face-to-Face Strata model with explicit parallel interleaving
  test/resources/face2face/face2face_strate_v2.st
Due: none

Add Face-to-Face model with simple negotiation alternatives
  test/resources/face2face/face2face_strate.core.st
Due: none

Add simple CBMC v2 example for BPMN place modeling
  test/resources/simple_example/simple_cbmc_v2.c
Due: none

Refactor Face-to-Face CBMC model for direct control flow
  test/resources/face2face/face2face_cbmc.c
Due: none

Add support for Parallel Gateways and Promela behavior translation
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Refactor task behavior translation into helper method
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
Due: mypy, pyright

Add behavior translation for Parallel Gateways
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
  test/visitors/test_bpmn_cbmc_visitor.py
Due: mypy, pyright

Enhance behavior translation in `_translate_behavior` method
  src/bpmncwpverify/visitors/bpmn_cbmc_visitor.py
Due: mypy, pyright
